/* Work sans font add from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

.primary-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 22px;
    outline: none;
    border: none;

}

/* Header section styles */
.header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 12.5% 50px 12.5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav>ul li {
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 500;

}

nav ul li a {
    color: #424242;
    line-height: 26px;
}

.banner {
    text-align: center;

}

.banner-content {
    width: 800px;
    margin: 0 auto;
}

.banner-heading {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding: 100px 0px 20px 0px;
}

.banner-para {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.banner-img {
    width: 100%;
    margin-top: 50px;
}



/* main styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams style */

.teams-container {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-img-container img {
    width: auto;
}

.teams-content {
    padding: 0 70px;
}

.team-title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

.team-title-grey {
    color: #727272;
    font-size: 2.5rem;
    font-weight: 500;
}

.team-title-orange {
    color: #FF900E;
    font-weight: 700;
}

.team-para {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 22px 0 30px;
}


/* Features section styles */

.features-section {
    display: flex;
    padding-top: 100px;
    gap: 100px;
}



.feature-title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0 25px;
    border-left: 5px solid #FF900E;
    margin-left: 2px;
}

.feature-para {
    color: #727272;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0 30px;
}

.feature-card {
    padding: 30px 32px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card-title {
    color: #131313;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feature-card-para {
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: 10px;
}

.features-img {
    position: relative;
}


.ten-year-batch {
    position: relative;
    bottom: 10%;
    left: -10%;
    border-radius: 8px;
    background: #FF900E;
    padding: 45px 42px;
    width: 300px;
    text-align: center;
}

.ten-year-batch>h2 {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.ten-year-batch>p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

/* Facts section styles */

.facts {
    margin: 100px 0 0;
}

.fact-tittle {
    color: #131313;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.fact-para {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
}

.facts-cards-container {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 20px;
    text-align: center;
    /* transform: rotate(90deg); */
}

.card-title {
    color: #424242;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 5px 0;
}

.card-para {
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}

/* Sponsors styles */

.Sponsors {
    text-align: center;
}

.Sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;

}

.section-title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;

}

.section-para {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0 50px;
}

.Sponsors-img-container img {
    width: 165px;


}

/* Footer styles */

.footer {
    background-color: #FFF4E7;
    text-align: center;
    border-radius: 8px;
    max-width: 1440px;
    margin: 100px auto;
}

.footer-para {
    color: #424242;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 40px 0;
}



/* responsive header styles */
/* mobile devices */
@media screen and (max-width:576px) {

    .header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }

    .nav-title {
        font-size: 1.5rem;
    }

    .banner-heading {
        font-size: 2.5rem;
        font-weight: 700;
    }


    .banner-content {
        width: auto;
    }

}

/* tablet and medium devices */

@media screen and (min-width:576px)and (max-width:960px) {
    nav {
        flex-direction: column;
    }


    .header {
        padding: 50px;
    }

    .banner-content {
        width: auto;
    }
}



/* responsive teams styles  */

/* mobile devices */
@media screen and (max-width:576px) {

    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-bottom: 20px;
    }

    .teams-content {
        padding: 0 20px 0;
    }

    .teams-img-container img {
        width: 100%;
    }
}

/* tablet and medium devices */

@media screen and (min-width:576px)and (max-width:960px) {

    .teams-container,
    .Sponsors-img-container,
    .features-section {
        flex-direction: column;
    }

    .teams-img-container img {
        width: 100%;
   


    }
    .teams-img-container{
        gap: 1rem;
    }
    .teams-container{
        padding: 0 20px;
        gap: 20px;
    }

    .features-section img {
        width: 100%;
        padding: 10px 20px;
    }

    .ten-year-batch {
        position: static;
        width: auto;
        margin: 0 20px;

    }
}

/* responsive facts styles */
/* mobile devices */
@media screen and (max-width:576px) {

    .facts-cards-container,
    .features-section {
        flex-direction: column;
        gap: 20px;
        padding: 50px 0;


    }

    .facts {
        padding: 0 20px;
        margin: 50px 0 0;
    }

    .Sponsors-img-container {
        flex-direction: column;


    }

    /* .Sponsors-img-container > img{
 
       padding: 20px;
    } */
    .Sponsors {
        padding: 0 20px;
    }

    .features-img {
        width: 100%;
    }

    .features-img img {
        width: 100%;
    }

    .ten-year-batch {
        position: static;
        width: auto;
        margin-top: 10px;
    }

    .features-section {
        padding: 20px 20px 0;
    }

    .footer {
        margin: 10px 20px 0;
    }
}

@media screen and (max-width: 335px) {

    nav>ul {
        flex-direction: column;

    }

}